<div ng-include src="'/app/views/navbar.html'"></div>

<div ng-show="notFound" class="alert alert-warning">Sorry, we couldn't find that page.</div>

<div ng-hide="notFound" class="container">

  <div class="page-header">
    <h3 ng-show="owner">
      My Challenges
    <button ng-if="owner" ng-disabled="edited" class="btn btn-primary pull-right" ng-click="add()">
      <i class="fa fa-plus"></i> Add challenge
    </button>

    </h3>
    <h3 ng-hide="owner">{{account.ID}}'s Challenges</h3>
  </div>

  <div ng-repeat="challenge in challenges">
    <div class="panel panel-default" ng-if="edited.ID != challenge.ID">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{challenge.Title}}
          <a href="#" ng-if="owner && !edited" class="pull-right" ng-click="edit(challenge)">
            <i class="fa fa-pencil"></i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <p class="text-muted">{{challenge.Description}}</p>
        <div ng-include src="'/app/views/counter.html'"></div>
        <div ng-if="owner" ng-include src="'/app/views/repbar.html'"></div>
      </div>
    </div>

    <div class="panel panel-default" ng-if="edited.ID == challenge.ID">
      <form>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error':error}">
              <label class="sr-only" for="title-input">Title</label>
              <input id="title-input" class="form-control" type="text" ng-model="edited.Title" placeholder="Challenge title" required autofocus>
            </div>


            <div class="form-group" ng-class="{'has-error':error}">
              <label class="sr-only" for="description-input">Description</label>
              <textarea id="description-input" class="form-control" rows="2" ng-model="edited.Description" placeholder="A short description"></textarea>
            </div>
            <div class="form-group form-inline" ng-class="{'has-error':error}">
              <input  ng-class="{'has-error':error}" id="maxrep-input" class="form-control form-inline input-sm num-input" ng-model="edited.MaxReps" name="max-reps" type="number" min="1" max="100" ng-max="100" step="1">
              <label for="maxrep-input" class="form-inline text-muted">is the number of repetitions I can do without stopping</label>
            </label>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="working">Save</button>

          <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="working">Cancel</button>

          <button type="button" class="btn btn-danger pull-right" ng-click="delete()" ng-disabled="working">Delete</button>

        </div>
      </form>
    </div>

    <div class="container" ng-if="owner"></div>




  </div>

</div>

