<div ng-include src="'/app/views/navbar.html'"></div>

<div ng-show="notFound" class="alert alert-warning">Sorry, we couldn't find that page.</div>

<div ng-hide="notFound" class="container">
  <h3 ng-show="owner">Your Board</h3>
  <h3 ng-hide="owner">{{account.ID}}'s Board</h3>

  <p>id: {{account.ID}}</p>
  <p>Reg date: {{account.RegDate | date}}</p>
  <h4>Challenges</h4>
  <div class="well" ng-repeat="c in challenges">
    {{c.Title}}
    date: {{c.CreationDate | date}}
  </div>

  <button ng-if="owner" class="btn btn-primary" ng-click="add()">
    <i class="fa fa-plus"></i> Add challenge
  </button>


</div>

