<div ng-include src="'/app/views/navbar.html'"></div>

<div class="container challenge-container">
  <h1>{{challenge.Title}} <small ng-if="!whoami.owner">by {{challenge.AccountID}}</small></h1>
  <p class="text-muted">{{challenge.Description}}</p>

  <button id="minDate-previous" style="margin-bottom: 10px;" class="btn btn-default" ng-click="previous()">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </button>
  <button id="minDate-previous" style="margin-bottom: 10px;" class="btn btn-default" ng-click="next()">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
  <div id="cal-heatmap-punchcard"></div>
  <div id="cal-heatmap-daily" style="margin: 10px 0;"></div>


  <div class="alert alert-danger" ng-show="empty">No data collected yet.</div>
  <div class="panel panel-default" ng-hide="empty">
    <div class="panel-heading">
      <h3 class="panel-title">Stats between {{stats.minDate | date}} &mdash; {{stats.maxDate | date}}</h3>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 stat">
            Total reps
            <div class="stat-num">{{stats.totalReps | number: 0}}</div>
          </div>
          <div class="col-sm-4 stat">
            Total sets
            <div class="stat-num">{{stats.numSets | number: 0}}</div>
          </div>
          <div class="col-sm-4 stat">
            Avg. reps per set
            <div class="stat-num">{{stats.totalReps / stats.numSets | number: 2}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 stat">
            Max reps
            <div class="stat-num">{{stats.maxReps | number: 0}}</div>
          </div>
          <div class="col-sm-4 stat">
            Number of workdays
            <div class="stat-num">{{stats.workDays | number: 0}}</div>
          </div>
          <div class="col-sm-4 stat">
            Avg. reps per day
            <div class="stat-num">{{stats.totalReps / stats.workDays | number: 2}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

