
<div ng-include src="'/app/views/navbar.html'"></div>

<div class="container">
  <h1>{{title}}</h1>
  <p class="text-muted">{{challenge.Description}}</p>
  <h2>
    <span class="label label-success">{{stats.totalReps}}</span>
    <small>reps between
    {{stats.minDate | date}} &mdash; {{stats.maxDate | date}}</small>

  </h2>
  <div id="cal-heatmap"></div>

    <p>Total number of sets: {{stats.numSets}}
    <p>Average reps per set: {{stats.totalReps / stats.numSets | number: 2}}
    <p>Max reps: {{stats.maxReps}}


</div>

