    <div class="jumbotron">

      <h1>Mennyit húzódzkodott eddig Andris?</h1>

      <h2>Ma ennyit: <span class="label label-primary">{{stat.Today}}</span></h2>

      <p>Idén összesen ennyit: <span class="label label-info">{{stat.Total}}</span></p>
    </div>

  <footer class="container">
    <p class="">Csibi András vagyok, és 2014. januárjában megcsináltam összesen 1000 húzodzkodást. Azóta is itt követem az ismétléseket. Jelenleg az <a href="http://armstrongpullupprogram.com/" target="_blank">Armstrong programot</a> csinálom.</p>
  </footer>


